.mtm {
	margin-top: 10px !important;
}

.mbm {
	margin-bottom: 10px !important;
}

.m_c .tb {
	margin: 0 0 10px;
	padding: 0 10px;
}

.tb {
	margin-top: 10px;
	padding-left: 5px;
	line-height: 30px;
	border-bottom: 1px solid #CDCDCD;
}

.tb .y {
	float: right;
	margin-right: 0;
}

.tb li {
	float: left;
	margin: 0 3px -1px 0;
}

.tb .a a,.tb .current a {
	border-bottom-color: #FFF;
	background: #FFF;
	font-weight: 700;
}

.tb a {
	display: block;
	padding: 0 10px;
	border: 1px solid #CDCDCD;
	background: #E5EDF2;
}

.tb_s {
	margin-top: 0;
	line-height: 26px;
}

.flbc {
	float: left;
	width: 20px;
	height: 20px;
	overflow: hidden;
	text-indent: -9999px;
	background: url(./cls.gif) no-repeat 0 0;
	cursor: pointer;
}

.flbc:hover {
	background-position: 0 -20px;
}

.p_opt {
	padding: 10px;
}

.xg1,.xg1 a {
	color: #999 !important;
}

caption,th {
	text-align: left;
	font-weight: 400;
}

.px,.pt {
	padding: 2px 4px;
	line-height: 17px;
}

.ptn {
	padding-top: 5px !important;
}

strong {
	font-weight: 700;
}

.pn em,.pn span,.pn strong {
	padding: 0 10px;
	line-height: 21px;
}

.pn {
	vertical-align: middle;
	overflow: hidden;
	margin-right: 3px;
	padding: 0;
	height: 23px;
	border: 1px solid #999;
	background: #E5E5E5 url(./pn.png) repeat-x 0 0;
	cursor: pointer;
	-moz-box-shadow: 0 1px 0 #E5E5E5;
	-webkit-box-shadow: 0 1px 0 #E5E5E5;
	box-shadow: 0 1px 0 #E5E5E5;
}

.pnc,a.pnc {
	border-color: #235994;
	background-color: #06C;
	background-position: 0 -48px;
	color: #FFF !important;
}

.p_opt {
	padding: 10px;
}

.bbda {
	border-bottom: 1px dashed #CDCDCD;
}

.cl {
	zoom: 1;
}

.cl:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.imgl {
	margin-bottom: 5px;
	width: 100%;
}

.imgl tr:last-child td {
	border-bottom: none;
}
.upfl table td {
	border-bottom: 1px solid #CDCDCD;
	height: 30px;
	line-height: 24px;
}

.imgl td {
	padding: 8px 0;
	text-align: center;
	vertical-align: bottom;
}

.imgl img {
	border: 1px solid #999;
	max-width: 110px;
}

.cur1 {
	cursor: pointer;
}

.upfl table td {
	border-bottom: 1px solid #CDCDCD;
	height: 30px;
	line-height: 24px;
}